*{
    margin:10px
}
div{
    background-color: #007F40;
    padding: 10px;
    text-align: center;
    width: 700px;
    margin: auto;
    border: 5px solid white;
}
.audio, .img, .iframe, .video{
    background-color: white;
    margin: auto;
    /* width: 60%; */
    /* border: 3px solid #73AD21; */
    padding: 10px;
    text-align: center;
}
